# ğŸ“ AI Bootcamp Practice Exercises
## Week 3 - Day 2: Pandas Data Preprocessing

---

### ğŸ“š Topics Covered Today:
- Series and DataFrames (structure and indexing)
- Importing/exporting data (CSV, Excel, JSON)
- Handling missing values and data cleaning
- Data transformation (apply, map, lambda)
- Merging and joining multiple datasets

---

### ğŸ“ Instructions:
- Read each **Example** carefully before attempting exercises
- Fill in the **TODO** sections with your code
- Run each cell to check your output
- Expected outputs are provided for reference
- Ask for help if you get stuck!

---

**Let's get started! ğŸš€**

---
## ğŸ”¹ Section 1: Introduction & Setup

Pandas is a powerful Python library for data manipulation and analysis. It provides:
- **Series**: 1D labeled array (like a column)
- **DataFrame**: 2D labeled table (like an Excel spreadsheet)
- Tools for reading/writing data files
- Functions for cleaning and transforming data

**Why Pandas?**
- ğŸ“Š **Easy Data Handling**: Work with tabular data intuitively
- ğŸ§¹ **Data Cleaning**: Handle missing values, duplicates, etc.
- ğŸ”„ **Data Transformation**: Filter, group, merge datasets
- ğŸ“ **File I/O**: Read/write CSV, Excel, JSON, SQL, and more

In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Check Pandas version
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")
print("âœ… Setup complete!")

Pandas version: 2.2.2
NumPy version: 1.26.4
âœ… Setup complete!

---
## ğŸ”¹ Section 2: Basic Exercises

### Exercise 1: Creating and Understanding Series
**Learn:** A Series is a one-dimensional labeled array, like a single column in a spreadsheet.

#### ğŸ“– Example:

In [ ]:
# Example: Creating a Pandas Series

# Create a Series from a list
temperatures = pd.Series([23, 25, 22, 24, 26])
print("Series (default index):")
print(temperatures)

# Create a Series with custom index
temperatures_labeled = pd.Series(
    [23, 25, 22, 24, 26],
    index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
)
print("\nSeries (custom index):")
print(temperatures_labeled)

# Access elements
print("\nTemperature on Monday:", temperatures_labeled['Mon'])
print("Mean temperature:", temperatures_labeled.mean())

# Expected Output:
# Series (default index):
# 0    23
# 1    25
# 2    22
# 3    24
# 4    26
# dtype: int64

#### âœï¸ Your Turn:

In [ ]:
# TODO: Create a Series of student scores: [85, 92, 78, 90, 88]
# TODO: Use student names as index: ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
# TODO: Print the Series
# TODO: Access Bob's score
# TODO: Calculate the maximum score
# Hint: Use pd.Series(data, index=labels)

# TODO: Write your code below this line
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

scores = # Your code here

# Print the series
print("Student Scores:")


# Access Bob's score
bobs_score = # Your code here
print(f"\nBob's score: {bobs_score}")

# Maximum score
max_score = # Your code here
print(f"Maximum score: {max_score}")

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# Expected Output:
# Student Scores:
# Alice      85
# Bob        92
# Charlie    78
# David      90
# Eve        88

---
### Exercise 2: Creating DataFrames
**Learn:** A DataFrame is a 2D table with labeled rows and columns.

#### ğŸ“– Example:

In [ ]:
# Example: Creating a DataFrame

# Method 1: From a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Check shape and info
print(f"\nShape: {df.shape}")  # (rows, columns)
print(f"Columns: {df.columns.tolist()}")
print(f"Index: {df.index.tolist()}")

# Access a column (returns a Series)
print("\nNames column:")
print(df['Name'])

# Access multiple columns
print("\nName and Age:")
print(df[['Name', 'Age']])

# Expected Output:
# DataFrame:
#       Name  Age      City
# 0    Alice   25  New York
# 1      Bob   30    London
# 2  Charlie   35     Paris
# 3    David   28     Tokyo

#### âœï¸ Your Turn:

In [ ]:
# TODO: Create a DataFrame with the following data:
# Product: ['Laptop', 'Phone', 'Tablet', 'Monitor']
# Price: [1200, 800, 400, 300]
# Stock: [15, 30, 25, 20]
# TODO: Print the DataFrame
# TODO: Print the shape
# TODO: Access the 'Price' column
# TODO: Access 'Product' and 'Stock' columns together

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

products_data = # Your code here (create dictionary)

products_df = # Your code here (create DataFrame)

# Print DataFrame
print("Products DataFrame:")


# Print shape
print(f"\nShape: ") # Your code here

# Access Price column
print("\nPrices:")
# Your code here

# Access Product and Stock
print("\nProduct and Stock:")
# Your code here

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# Expected Output:
# Products DataFrame:
#    Product  Price  Stock
# 0   Laptop   1200     15
# 1    Phone    800     30
# 2   Tablet    400     25
# 3  Monitor    300     20

---
### Exercise 3: DataFrame Indexing and Selection
**Learn:** Different ways to select rows and columns from a DataFrame.

#### ğŸ“– Example:

In [ ]:
# Example: Indexing and selection

# Create sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'Salary': [50000, 60000, 75000, 55000, 65000],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR']
})
print("DataFrame:")
print(df)

# Select first 3 rows
print("\nFirst 3 rows (using head):")
print(df.head(3))

# Select rows by position (iloc)
print("\nRow at index 2 (using iloc):")
print(df.iloc[2])

# Select rows by label (loc)
print("\nRow at index 1 (using loc):")
print(df.loc[1])

# Conditional selection
print("\nEmployees with Age > 30:")
print(df[df['Age'] > 30])

# Multiple conditions
print("\nIT employees with Salary > 55000:")
print(df[(df['Department'] == 'IT') & (df['Salary'] > 55000)])

# Expected Output:
# First 3 rows:
#       Name  Age  Salary Department
# 0    Alice   25   50000         HR
# 1      Bob   30   60000         IT
# 2  Charlie   35   75000    Finance

#### âœï¸ Your Turn:

In [ ]:
# Given DataFrame
students_df = pd.DataFrame({
    'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
    'Math': [85, 92, 78, 95, 88],
    'Science': [90, 88, 85, 92, 86],
    'English': [78, 95, 82, 90, 85],
    'Grade': ['B', 'A', 'B', 'A', 'B']
})

print("Students DataFrame:")
print(students_df)

# TODO: Select the first 2 rows
# TODO: Select the row at index 3 using iloc
# TODO: Select students who scored more than 90 in Math
# TODO: Select students with Grade 'A' and Science > 85
# TODO: Select Name and Math columns for students with English > 80

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# First 2 rows
first_two = # Your code here
print("\nFirst 2 rows:")
print(first_two)

# Row at index 3
row_3 = # Your code here
print("\nRow at index 3:")
print(row_3)

# Math > 90
high_math = # Your code here
print("\nStudents with Math > 90:")
print(high_math)

# Grade A and Science > 85
grade_a_science = # Your code here
print("\nGrade A students with Science > 85:")
print(grade_a_science)

# Name and Math where English > 80
english_filter = # Your code here
print("\nName and Math for English > 80:")
print(english_filter)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Exercise 4: Handling Missing Values
**Learn:** Detect and handle missing data (NaN values) in DataFrames.

#### ğŸ“– Example:

In [ ]:
# Example: Handling missing values

# Create DataFrame with missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, np.nan, 35, 28, np.nan],
    'Salary': [50000, 60000, np.nan, 55000, 65000]
})
print("DataFrame with missing values:")
print(df)

# Check for missing values
print("\nMissing values (True/False):")
print(df.isnull())

# Count missing values per column
print("\nMissing value count:")
print(df.isnull().sum())

# Drop rows with any missing values
print("\nAfter dropping rows with NaN:")
print(df.dropna())

# Fill missing values with a specific value
print("\nFill Age NaN with 30, Salary NaN with 0:")
df_filled = df.fillna({'Age': 30, 'Salary': 0})
print(df_filled)

# Fill with mean
print("\nFill missing Age with mean:")
df['Age'].fillna(df['Age'].mean(), inplace=False)
print(df)

# Expected Output:
# DataFrame with missing values:
#       Name   Age   Salary
# 0    Alice  25.0  50000.0
# 1      Bob   NaN  60000.0
# 2  Charlie  35.0      NaN
# 3    David  28.0  55000.0
# 4      Eve   NaN  65000.0

#### âœï¸ Your Turn:

In [ ]:
# Given DataFrame with missing values
sales_df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Price': [100, np.nan, 150, 200, np.nan],
    'Quantity': [10, 20, np.nan, 15, 25],
    'Revenue': [1000, np.nan, np.nan, 3000, np.nan]
})

print("Sales DataFrame:")
print(sales_df)

# TODO: Check which cells have missing values
# TODO: Count total missing values in each column
# TODO: Fill missing Price values with the mean price
# TODO: Fill missing Quantity values with 0
# TODO: Drop rows where Revenue is missing
# TODO: Create a copy and fill all NaN with -1

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Check missing values
print("\nMissing values:")
missing_check = # Your code here
print(missing_check)

# Count missing per column
print("\nMissing count per column:")
missing_count = # Your code here
print(missing_count)

# Fill Price with mean
sales_df['Price'] = # Your code here
print("\nAfter filling Price with mean:")
print(sales_df)

# Fill Quantity with 0
sales_df['Quantity'] = # Your code here
print("\nAfter filling Quantity with 0:")
print(sales_df)

# Drop rows where Revenue is NaN
sales_df_clean = # Your code here
print("\nAfter dropping rows with NaN Revenue:")
print(sales_df_clean)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Exercise 5: Data Transformation with apply, map, and lambda
**Learn:** Transform data using functions.

#### ğŸ“– Example:

In [ ]:
# Example: Data transformation

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 75000]
})
print("Original DataFrame:")
print(df)

# Using lambda with apply (on a column)
df['Salary_Increased'] = df['Salary'].apply(lambda x: x * 1.10)
print("\nAfter 10% salary increase:")
print(df)

# Using a custom function
def categorize_age(age):
    if age < 30:
        return 'Young'
    elif age < 40:
        return 'Mid'
    else:
        return 'Senior'

df['Age_Category'] = df['Age'].apply(categorize_age)
print("\nWith age categories:")
print(df)

# Using map to replace values
name_map = {'Alice': 'A', 'Bob': 'B', 'Charlie': 'C'}
df['Name_Code'] = df['Name'].map(name_map)
print("\nWith name codes:")
print(df)

# Apply to entire DataFrame
print("\nDouble all numeric columns:")
numeric_doubled = df[['Age', 'Salary']].apply(lambda x: x * 2)
print(numeric_doubled)

# Expected Output:
# After 10% salary increase:
#       Name  Age  Salary  Salary_Increased
# 0    Alice   25   50000           55000.0
# 1      Bob   30   60000           66000.0
# 2  Charlie   35   75000           82500.0

#### âœï¸ Your Turn:

In [ ]:
# Given DataFrame
products_df = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
    'Price': [1200, 800, 400, 300],
    'Discount': [0.10, 0.15, 0.20, 0.05]
})

print("Products DataFrame:")
print(products_df)

# TODO: Create 'Final_Price' column = Price * (1 - Discount)
# TODO: Create 'Price_Category' column:
#       - 'Budget' if Price < 500
#       - 'Mid-Range' if 500 <= Price < 1000
#       - 'Premium' if Price >= 1000
# TODO: Convert Product names to uppercase using map/apply
# TODO: Add a 'Tax' column = Final_Price * 0.08

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Calculate Final Price
products_df['Final_Price'] = # Your code here (use apply or direct calculation)

# Create Price Category function
def price_category(price):
    # Your code here
    pass

products_df['Price_Category'] = # Your code here

# Convert to uppercase
products_df['Product'] = # Your code here (use .str.upper() or apply)

# Calculate Tax
products_df['Tax'] = # Your code here

# Print result
print("\nTransformed DataFrame:")
print(products_df)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# Expected Output:
#    Product  Price  Discount  Final_Price Price_Category    Tax
# 0   LAPTOP   1200      0.10       1080.0        Premium  86.40
# 1    PHONE    800      0.15        680.0      Mid-Range  54.40
# 2   TABLET    400      0.20        320.0         Budget  25.60
# 3  MONITOR    300      0.05        285.0         Budget  22.80

---
### Exercise 6: Reading and Writing Data
**Learn:** Import and export data from/to various file formats.

#### ğŸ“– Example:

In [ ]:
# Example: Reading and writing data

# Create sample data
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
})

print("Original DataFrame:")
print(df)

# Write to CSV
df.to_csv('sample_data.csv', index=False)
print("\nâœ… Saved to 'sample_data.csv'")

# Read from CSV
df_from_csv = pd.read_csv('sample_data.csv')
print("\nRead from CSV:")
print(df_from_csv)

# Write to JSON
df.to_json('sample_data.json', orient='records', indent=2)
print("\nâœ… Saved to 'sample_data.json'")

# Read from JSON
df_from_json = pd.read_json('sample_data.json')
print("\nRead from JSON:")
print(df_from_json)

# Write to Excel (requires openpyxl or xlsxwriter)
# df.to_excel('sample_data.xlsx', index=False, sheet_name='Data')

# Expected Output:
# âœ… Saved to 'sample_data.csv'
# Read from CSV:
#       Name  Age      City
# 0    Alice   25  New York
# 1      Bob   30    London
# 2  Charlie   35     Paris
# 3    David   28     Tokyo

#### âœï¸ Your Turn:

In [ ]:
# TODO: Create a DataFrame with:
# Employee: ['John', 'Sarah', 'Mike', 'Lisa']
# Department: ['IT', 'HR', 'Finance', 'IT']
# Salary: [70000, 65000, 75000, 68000]
# TODO: Save it to 'employees.csv'
# TODO: Read it back and print
# TODO: Save it to 'employees.json'
# TODO: Read from JSON and verify

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Create DataFrame
employees_df = # Your code here

print("Employees DataFrame:")
print(employees_df)

# Save to CSV
# Your code here
print("\nâœ… Saved to 'employees.csv'")

# Read from CSV
df_from_csv = # Your code here
print("\nRead from CSV:")
print(df_from_csv)

# Save to JSON
# Your code here
print("\nâœ… Saved to 'employees.json'")

# Read from JSON
df_from_json = # Your code here
print("\nRead from JSON:")
print(df_from_json)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Exercise 7: Merging and Joining DataFrames
**Learn:** Combine multiple DataFrames based on common columns.

#### ğŸ“– Example:

In [ ]:
# Example: Merging DataFrames

# Create two DataFrames
employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'DepartmentID': [101, 102, 101, 103]
})

departments = pd.DataFrame({
    'DepartmentID': [101, 102, 103],
    'Department': ['IT', 'HR', 'Finance']
})

print("Employees:")
print(employees)
print("\nDepartments:")
print(departments)

# Inner join (only matching rows)
merged_inner = pd.merge(employees, departments, on='DepartmentID', how='inner')
print("\nInner Join:")
print(merged_inner)

# Left join (all rows from left, matching from right)
merged_left = pd.merge(employees, departments, on='DepartmentID', how='left')
print("\nLeft Join:")
print(merged_left)

# Concatenate DataFrames vertically
more_employees = pd.DataFrame({
    'EmployeeID': [5, 6],
    'Name': ['Eve', 'Frank'],
    'DepartmentID': [102, 101]
})

all_employees = pd.concat([employees, more_employees], ignore_index=True)
print("\nConcatenated (vertical):")
print(all_employees)

# Expected Output:
# Inner Join:
#    EmployeeID     Name  DepartmentID Department
# 0           1    Alice           101         IT
# 1           2      Bob           102         HR
# 2           3  Charlie           101         IT
# 3           4    David           103    Finance

#### âœï¸ Your Turn:

In [ ]:
# Given DataFrames
students = pd.DataFrame({
    'StudentID': [1, 2, 3, 4, 5],
    'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
    'ClassID': [101, 102, 101, 103, 102]
})

classes = pd.DataFrame({
    'ClassID': [101, 102, 103, 104],
    'ClassName': ['Math', 'Science', 'English', 'History'],
    'Teacher': ['Mr. Smith', 'Ms. Johnson', 'Mr. Brown', 'Ms. Davis']
})

scores = pd.DataFrame({
    'StudentID': [1, 2, 3, 4, 5],
    'Score': [85, 92, 78, 95, 88]
})

print("Students:")
print(students)
print("\nClasses:")
print(classes)
print("\nScores:")
print(scores)

# TODO: Merge students with classes on ClassID (inner join)
# TODO: Merge the result with scores on StudentID
# TODO: Try a left join of students with classes
# TODO: Concatenate students with new students:
#       StudentID: [6, 7], Name: ['Olivia', 'James'], ClassID: [101, 104]

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Inner join students and classes
students_classes = # Your code here
print("\nStudents with Classes (Inner Join):")
print(students_classes)

# Merge with scores
complete_data = # Your code here
print("\nComplete Data (with Scores):")
print(complete_data)

# Left join
students_classes_left = # Your code here
print("\nStudents with Classes (Left Join):")
print(students_classes_left)

# Concatenate with new students
new_students = # Your code here (create new DataFrame)
all_students = # Your code here (concatenate)
print("\nAll Students (after concat):")
print(all_students)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Exercise 8: GroupBy and Aggregation
**Learn:** Group data and perform aggregate operations.

#### ğŸ“– Example:

In [1]:
# Example: GroupBy operations

df = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Salary': [70000, 60000, 75000, 80000, 65000, 72000, 78000],
    'Experience': [3, 5, 4, 7, 6, 3, 5]
})

print("DataFrame:")
print(df)

# Group by Department and calculate mean salary
print("\nAverage Salary by Department:")
print(df.groupby('Department')['Salary'].mean())

# Multiple aggregations
print("\nMultiple Aggregations:")
print(df.groupby('Department').agg({
    'Salary': ['mean', 'min', 'max'],
    'Experience': 'mean'
}))

# Count employees per department
print("\nEmployee Count by Department:")
print(df.groupby('Department').size())

# Group by and create new DataFrame
dept_summary = df.groupby('Department').agg({
    'Salary': 'mean',
    'Experience': 'mean',
    'Employee': 'count'
}).reset_index()
dept_summary.columns = ['Department', 'Avg_Salary', 'Avg_Experience', 'Employee_Count']
print("\nDepartment Summary:")
print(dept_summary)

# Expected Output:
# Average Salary by Department:
# Department
# Finance    79000.0
# HR         62500.0
# IT         72333.333333

NameError: name 'pd' is not defined

#### âœï¸ Your Turn:

In [ ]:
# Given DataFrame
sales_data = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'East', 'South', 'West', 'East', 'North'],
    'Product': ['A', 'B', 'B', 'A', 'A', 'B', 'B', 'A'],
    'Sales': [1000, 1500, 1200, 800, 1400, 1100, 900, 1300],
    'Units': [10, 15, 12, 8, 14, 11, 9, 13]
})

print("Sales Data:")
print(sales_data)

# TODO: Calculate total sales by Region
# TODO: Calculate average units sold by Product
# TODO: For each Region, find total sales and average units
# TODO: Count how many transactions per Region
# TODO: Find the Region with highest total sales

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Total sales by Region
sales_by_region = # Your code here
print("\nTotal Sales by Region:")
print(sales_by_region)

# Average units by Product
avg_units_by_product = # Your code here
print("\nAverage Units by Product:")
print(avg_units_by_product)

# Multiple aggregations by Region
region_summary = # Your code here
print("\nRegion Summary:")
print(region_summary)

# Count transactions per Region
transactions_per_region = # Your code here
print("\nTransactions per Region:")
print(transactions_per_region)

# Region with highest sales
highest_region = # Your code here (use idxmax())
print(f"\nRegion with Highest Sales: {highest_region}")

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
## ğŸ”¹ Section 3: Small Projects

### Project 1: Customer Data Cleaning
**Task:** Clean and prepare customer data for analysis.

In [ ]:
# Project 1: Customer Data Cleaning

# Create messy customer data
customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['john doe', 'JANE SMITH', 'Bob Johnson', np.nan, 'alice brown', 'Charlie', 'david wilson', 'Eve Davis'],
    'Email': ['john@email.com', 'jane@email.com', np.nan, 'bob@email.com', 'alice@email.com', np.nan, 'david@email.com', 'eve@email.com'],
    'Age': [25, np.nan, 35, 28, np.nan, 42, 31, 29],
    'Purchase_Amount': [100, 250, np.nan, 150, 200, 300, np.nan, 180],
    'City': ['new york', 'los angeles', 'chicago', 'new york', 'chicago', 'los angeles', 'chicago', 'new york']
})

print("Original Messy Data:")
print(customers)
print(f"\nShape: {customers.shape}")
print(f"\nMissing values:\n{customers.isnull().sum()}")

# TODO: Clean the data:
# 1. Fill missing Age with the median age
# 2. Fill missing Purchase_Amount with 0
# 3. Drop rows where Name is missing
# 4. Convert all Names to Title Case (John Doe)
# 5. Convert all Cities to Title Case
# 6. Fill missing Email with 'no_email@unknown.com'
# 7. Create a new column 'Age_Group':
#    - 'Young' if Age < 30
#    - 'Middle' if 30 <= Age < 40
#    - 'Senior' if Age >= 40
# 8. Calculate total purchase amount by City

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Create a copy to work with
customers_clean = customers.copy()

# Fill missing Age with median
customers_clean['Age'] = # Your code here

# Fill missing Purchase_Amount with 0
customers_clean['Purchase_Amount'] = # Your code here

# Drop rows where Name is NaN
customers_clean = # Your code here

# Convert Name to Title Case
customers_clean['Name'] = # Your code here (use .str.title())

# Convert City to Title Case
customers_clean['City'] = # Your code here

# Fill missing Email
customers_clean['Email'] = # Your code here

# Create Age_Group column
def categorize_age(age):
    # Your code here
    pass

customers_clean['Age_Group'] = # Your code here

# Print cleaned data
print("\n" + "="*60)
print("CLEANED DATA")
print("="*60)
print(customers_clean)

# Calculate total purchase by City
city_purchases = # Your code here
print("\nTotal Purchase Amount by City:")
print(city_purchases)

# Summary statistics
print("\n" + "="*60)
print("SUMMARY STATISTICS")
print("="*60)
print(f"Total Customers: {len(customers_clean)}")
print(f"Average Age: {customers_clean['Age'].mean():.2f}")
print(f"Total Revenue: ${customers_clean['Purchase_Amount'].sum():.2f}")
print(f"\nCustomers by Age Group:")
print(customers_clean['Age_Group'].value_counts())

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Project 2: E-Commerce Sales Analysis
**Task:** Analyze sales data from multiple sources.

In [ ]:
# Project 2: E-Commerce Sales Analysis

# Create three related DataFrames
orders = pd.DataFrame({
    'OrderID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008],
    'CustomerID': [1, 2, 1, 3, 2, 4, 3, 1],
    'ProductID': [101, 102, 103, 101, 102, 104, 103, 101],
    'Quantity': [2, 1, 3, 1, 2, 1, 2, 1],
    'OrderDate': ['2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', 
                  '2024-01-19', '2024-01-20', '2024-01-21', '2024-01-22']
})

products = pd.DataFrame({
    'ProductID': [101, 102, 103, 104],
    'ProductName': ['Laptop', 'Mouse', 'Keyboard', 'Monitor'],
    'Price': [1000, 25, 75, 300],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics']
})

customers_info = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})

print("Orders:")
print(orders)
print("\nProducts:")
print(products)
print("\nCustomers:")
print(customers_info)

# TODO: Perform the following analysis:
# 1. Merge orders with products to get product details
# 2. Calculate 'TotalPrice' = Quantity * Price for each order
# 3. Merge with customer information
# 4. Find total revenue by Category
# 5. Find total spending by CustomerName
# 6. Find which City generated the most revenue
# 7. Calculate average order value
# 8. Find the most popular product (most ordered)

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Merge orders with products
orders_with_products = # Your code here
print("\nOrders with Product Details:")
print(orders_with_products.head())

# Calculate TotalPrice
orders_with_products['TotalPrice'] = # Your code here

# Merge with customers
complete_orders = # Your code here
print("\nComplete Orders Data:")
print(complete_orders.head())

# Revenue by Category
revenue_by_category = # Your code here
print("\n" + "="*60)
print("Revenue by Category:")
print(revenue_by_category)

# Spending by Customer
spending_by_customer = # Your code here
print("\nSpending by Customer:")
print(spending_by_customer)

# Revenue by City
revenue_by_city = # Your code here
best_city = # Your code here (use idxmax())
print("\nRevenue by City:")
print(revenue_by_city)
print(f"\nTop City: {best_city}")

# Average order value
avg_order_value = # Your code here
print(f"\nAverage Order Value: ${avg_order_value:.2f}")

# Most popular product
product_popularity = # Your code here (group by ProductName, sum Quantity)
most_popular = # Your code here (use idxmax())
print("\nProduct Popularity (by Quantity):")
print(product_popularity)
print(f"\nMost Popular Product: {most_popular}")

# Final Summary
print("\n" + "="*60)
print("SUMMARY")
print("="*60)
print(f"Total Orders: {len(complete_orders)}")
print(f"Total Revenue: ${complete_orders['TotalPrice'].sum():.2f}")
print(f"Average Order Value: ${avg_order_value:.2f}")
print(f"Top City: {best_city}")
print(f"Most Popular Product: {most_popular}")

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Project 3: Employee Performance Analysis
**Task:** Analyze employee data across multiple metrics.

In [ ]:
# Project 3: Employee Performance Analysis

# Create employee dataset
employees_data = pd.DataFrame({
    'EmployeeID': range(1, 21),
    'Name': ['Emp' + str(i) for i in range(1, 21)],
    'Department': ['IT', 'HR', 'Sales', 'IT', 'Finance', 'Sales', 'HR', 'IT', 'Finance', 'Sales',
                   'IT', 'HR', 'Sales', 'Finance', 'IT', 'Sales', 'HR', 'Finance', 'IT', 'Sales'],
    'Salary': [70000, 55000, 60000, 75000, 80000, 62000, 58000, 72000, 78000, 65000,
               73000, 56000, 63000, 79000, 74000, 64000, 57000, 81000, 71000, 66000],
    'PerformanceScore': [85, 78, 92, 88, 95, 82, 75, 90, 93, 87,
                        86, 79, 91, 94, 89, 84, 76, 96, 88, 85],
    'YearsExperience': [3, 5, 2, 4, 7, 3, 6, 4, 6, 3,
                       4, 5, 3, 7, 4, 3, 6, 8, 4, 3]
})

print("Employee Data:")
print(employees_data.head(10))
print(f"\nTotal Employees: {len(employees_data)}")

# TODO: Perform the following analysis:
# 1. Calculate average salary by Department
# 2. Calculate average performance score by Department
# 3. Find the department with highest average salary
# 4. Create 'Performance_Category':
#    - 'Excellent' if score >= 90
#    - 'Good' if score >= 80
#    - 'Average' if score >= 70
#    - 'Needs Improvement' if score < 70
# 5. Count employees in each Performance_Category
# 6. Calculate salary per year of experience ratio
# 7. Find top 5 performers (highest PerformanceScore)
# 8. Create a summary table by Department showing:
#    - Employee count, Avg Salary, Avg Performance, Avg Experience

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Average salary by Department
avg_salary_dept = # Your code here
print("\nAverage Salary by Department:")
print(avg_salary_dept)

# Average performance by Department
avg_performance_dept = # Your code here
print("\nAverage Performance by Department:")
print(avg_performance_dept)

# Department with highest avg salary
highest_salary_dept = # Your code here
print(f"\nDepartment with Highest Avg Salary: {highest_salary_dept}")

# Create Performance_Category
def performance_category(score):
    # Your code here
    pass

employees_data['Performance_Category'] = # Your code here

# Count by Performance_Category
category_counts = # Your code here
print("\nEmployees by Performance Category:")
print(category_counts)

# Salary per year of experience
employees_data['Salary_Per_Year'] = # Your code here

# Top 5 performers
top_performers = # Your code here (use sort_values and head)
print("\nTop 5 Performers:")
print(top_performers[['Name', 'Department', 'PerformanceScore', 'Salary']])

# Department summary
dept_summary = # Your code here (use groupby and agg)
print("\n" + "="*80)
print("DEPARTMENT SUMMARY")
print("="*80)
print(dept_summary)

# Overall statistics
print("\n" + "="*80)
print("OVERALL STATISTICS")
print("="*80)
print(f"Total Employees: {len(employees_data)}")
print(f"Average Salary: ${employees_data['Salary'].mean():.2f}")
print(f"Average Performance Score: {employees_data['PerformanceScore'].mean():.2f}")
print(f"Average Years Experience: {employees_data['YearsExperience'].mean():.2f}")
print(f"\nSalary Range: ${employees_data['Salary'].min()} - ${employees_data['Salary'].max()}")
print(f"Performance Range: {employees_data['PerformanceScore'].min()} - {employees_data['PerformanceScore'].max()}")

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
## ğŸ”¹ Section 4: Final Challenges

### Challenge 1: Multi-Source Data Integration
**Task:** Combine and analyze data from multiple sources with complex transformations.

In [ ]:
# Challenge 1: Multi-Source Data Integration

# Create three datasets representing different data sources
user_data = pd.DataFrame({
    'UserID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Username': ['user1', 'user2', 'user3', 'user4', 'user5', 'user6', 'user7', 'user8'],
    'RegistrationDate': ['2024-01-01', '2024-01-05', '2024-01-10', '2024-01-15',
                        '2024-01-20', '2024-01-25', '2024-02-01', '2024-02-05'],
    'Country': ['USA', 'UK', 'Canada', 'USA', 'UK', 'Canada', 'USA', 'UK']
})

transaction_data = pd.DataFrame({
    'TransactionID': range(101, 121),
    'UserID': [1, 2, 1, 3, 4, 2, 5, 1, 6, 3, 7, 4, 8, 2, 5, 1, 6, 3, 7, 4],
    'Amount': [100, 150, 200, 50, 300, 120, 80, 250, 180, 90, 
              160, 220, 140, 100, 190, 210, 130, 170, 240, 110],
    'TransactionDate': ['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
                       '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10',
                       '2024-02-11', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15',
                       '2024-02-16', '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20']
})

country_data = pd.DataFrame({
    'Country': ['USA', 'UK', 'Canada'],
    'Timezone': ['EST', 'GMT', 'EST'],
    'Currency': ['USD', 'GBP', 'CAD'],
    'ExchangeRate': [1.0, 1.27, 0.74]  # Exchange rate to USD
})

print("User Data:")
print(user_data.head())
print("\nTransaction Data:")
print(transaction_data.head())
print("\nCountry Data:")
print(country_data)

# TODO: Complete the following tasks:
# 1. Merge all three datasets into one complete dataset
# 2. Convert TransactionDate and RegistrationDate to datetime
# 3. Create 'Amount_USD' column by converting amounts using ExchangeRate
# 4. Calculate 'Days_Since_Registration' for each transaction
# 5. Create 'User_Value' category:
#    - 'High' if total spending > 500 USD
#    - 'Medium' if 200 <= total spending <= 500
#    - 'Low' if total spending < 200
# 6. Find the most valuable user by country
# 7. Calculate average transaction value by country and timezone
# 8. Identify users who haven't made any transactions

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Step 1: Merge datasets
# First merge transactions with users
merged_data = # Your code here

# Then merge with country data
complete_data = # Your code here

print("\nComplete Merged Data (sample):")
print(complete_data.head())

# Step 2: Convert to datetime
complete_data['TransactionDate'] = # Your code here
complete_data['RegistrationDate'] = # Your code here

# Step 3: Calculate Amount in USD
complete_data['Amount_USD'] = # Your code here

# Step 4: Days since registration
complete_data['Days_Since_Registration'] = # Your code here

# Step 5: User value category
user_spending = # Group by UserID and sum Amount_USD

def user_value_category(total_spending):
    # Your code here
    pass

user_spending['User_Value'] = # Apply function

# Merge back to complete_data
complete_data = # Your code here

print("\nUser Value Categories:")
print(user_spending)

# Step 6: Most valuable user by country
top_users_by_country = # Your code here
print("\nMost Valuable User by Country:")
print(top_users_by_country)

# Step 7: Average transaction by country and timezone
avg_by_country_tz = # Your code here
print("\nAverage Transaction Value by Country and Timezone:")
print(avg_by_country_tz)

# Step 8: Users with no transactions
users_with_transactions = # Get unique UserIDs from transactions
all_users = # Get all UserIDs from user_data
inactive_users = # Your code here (set difference or merge)
print(f"\nUsers with no transactions: {inactive_users}")

# Final comprehensive report
print("\n" + "="*80)
print("COMPREHENSIVE ANALYSIS REPORT")
print("="*80)
print(f"Total Users: {len(user_data)}")
print(f"Active Users: {len(users_with_transactions)}")
print(f"Inactive Users: {len(inactive_users)}")
print(f"Total Transactions: {len(transaction_data)}")
print(f"Total Revenue (USD): ${complete_data['Amount_USD'].sum():.2f}")
print(f"Average Transaction (USD): ${complete_data['Amount_USD'].mean():.2f}")
print(f"\nUser Value Distribution:")
print(user_spending['User_Value'].value_counts())

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
### Challenge 2: Time Series Sales Analysis
**Task:** Analyze sales data over time with advanced transformations.

In [ ]:
# Challenge 2: Time Series Sales Analysis

# Create daily sales data for 30 days
np.random.seed(42)
dates = pd.date_range(start='2024-01-01', periods=30, freq='D')
sales_ts = pd.DataFrame({
    'Date': dates,
    'Product_A_Sales': np.random.randint(100, 300, 30),
    'Product_B_Sales': np.random.randint(150, 350, 30),
    'Product_C_Sales': np.random.randint(80, 250, 30),
    'Product_A_Returns': np.random.randint(5, 20, 30),
    'Product_B_Returns': np.random.randint(10, 30, 30),
    'Product_C_Returns': np.random.randint(3, 15, 30)
})

print("Sales Time Series Data:")
print(sales_ts.head(10))

# TODO: Complete the following analysis:
# 1. Calculate net sales (Sales - Returns) for each product
# 2. Calculate total daily revenue (sum of all product net sales)
# 3. Calculate return rate (Returns / Sales * 100) for each product
# 4. Find the product with highest average net sales
# 5. Calculate 3-day moving average for total revenue
# 6. Extract day of week and create 'Is_Weekend' column
# 7. Compare weekend vs weekday sales
# 8. Find the best and worst sales day
# 9. Calculate week-over-week growth rate
# 10. Create weekly summary (aggregate by week)

# TODO: Write your code below
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# Step 1: Net sales
sales_ts['Product_A_Net'] = # Your code here
sales_ts['Product_B_Net'] = # Your code here
sales_ts['Product_C_Net'] = # Your code here

# Step 2: Total daily revenue
sales_ts['Total_Revenue'] = # Your code here

# Step 3: Return rates
sales_ts['Product_A_Return_Rate'] = # Your code here
sales_ts['Product_B_Return_Rate'] = # Your code here
sales_ts['Product_C_Return_Rate'] = # Your code here

print("\nWith calculated metrics:")
print(sales_ts[['Date', 'Product_A_Net', 'Product_B_Net', 'Product_C_Net', 'Total_Revenue']].head())

# Step 4: Product with highest avg net sales
avg_net_sales = # Your code here
best_product = # Your code here
print(f"\nAverage Net Sales by Product:")
print(avg_net_sales)
print(f"\nBest Performing Product: {best_product}")

# Step 5: 3-day moving average
sales_ts['Revenue_MA3'] = # Your code here (use rolling)

# Step 6: Day of week and weekend flag
sales_ts['DayOfWeek'] = # Your code here (use dt.dayofweek)
sales_ts['Is_Weekend'] = # Your code here (5 and 6 are weekend)

# Step 7: Weekend vs Weekday comparison
weekend_avg = # Your code here
weekday_avg = # Your code here
print(f"\nWeekend Average Revenue: ${weekend_avg:.2f}")
print(f"Weekday Average Revenue: ${weekday_avg:.2f}")
print(f"Difference: ${abs(weekend_avg - weekday_avg):.2f}")

# Step 8: Best and worst days
best_day = # Your code here
worst_day = # Your code here
print(f"\nBest Sales Day: {best_day['Date'].strftime('%Y-%m-%d')} - ${best_day['Total_Revenue']:.2f}")
print(f"Worst Sales Day: {worst_day['Date'].strftime('%Y-%m-%d')} - ${worst_day['Total_Revenue']:.2f}")

# Step 9: Week-over-week growth
sales_ts['Week'] = # Your code here (use dt.isocalendar().week)
weekly_revenue = # Group by week and sum
weekly_revenue['WoW_Growth'] = # Calculate percentage change
print("\nWeek-over-Week Growth:")
print(weekly_revenue)

# Step 10: Weekly summary
weekly_summary = # Your code here (comprehensive aggregation)
print("\nWeekly Summary:")
print(weekly_summary)

# Final statistics
print("\n" + "="*80)
print("COMPREHENSIVE SALES REPORT (30 Days)")
print("="*80)
print(f"Total Revenue: ${sales_ts['Total_Revenue'].sum():.2f}")
print(f"Average Daily Revenue: ${sales_ts['Total_Revenue'].mean():.2f}")
print(f"Peak Revenue: ${sales_ts['Total_Revenue'].max():.2f}")
print(f"\nAverage Return Rates:")
print(f"  Product A: {sales_ts['Product_A_Return_Rate'].mean():.2f}%")
print(f"  Product B: {sales_ts['Product_B_Return_Rate'].mean():.2f}%")
print(f"  Product C: {sales_ts['Product_C_Return_Rate'].mean():.2f}%")
print(f"\nWeekend vs Weekday:")
print(f"  Weekend Average: ${weekend_avg:.2f}")
print(f"  Weekday Average: ${weekday_avg:.2f}")

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

---
## ğŸ”¹ Section 5: Summary & Key Concepts

### ğŸ¯ What You Learned Today:

**1. Pandas Fundamentals:**
- **Series**: 1D labeled array (single column)
- **DataFrame**: 2D labeled table (multiple columns)
- Created DataFrames from dictionaries, lists, and external files

**2. Data Selection:**
- `.head()`, `.tail()`: View first/last rows
- `.loc[]`: Label-based indexing
- `.iloc[]`: Position-based indexing
- Boolean indexing: `df[df['Age'] > 30]`
- Multiple conditions: `(condition1) & (condition2)`

**3. Handling Missing Data:**
- `.isnull()`: Detect missing values
- `.fillna()`: Fill missing values
- `.dropna()`: Remove missing values
- Fill strategies: mean, median, mode, forward-fill, back-fill

**4. Data Transformation:**
- `.apply()`: Apply function to columns/rows
- `.map()`: Replace values based on dictionary
- `lambda`: Anonymous functions for quick transformations
- String methods: `.str.upper()`, `.str.lower()`, `.str.title()`

**5. File I/O:**
- Read: `pd.read_csv()`, `pd.read_json()`, `pd.read_excel()`
- Write: `.to_csv()`, `.to_json()`, `.to_excel()`
- Control index with `index=False`

**6. Merging & Joining:**
- `pd.merge()`: SQL-like joins (inner, left, right, outer)
- `pd.concat()`: Stack DataFrames vertically or horizontally
- Join on common columns with `on=` parameter

**7. GroupBy & Aggregation:**
- `.groupby()`: Group data by column values
- Aggregate functions: `.mean()`, `.sum()`, `.count()`, `.min()`, `.max()`
- Multiple aggregations with `.agg()`
- `.reset_index()`: Convert groupby result to DataFrame

---

### ğŸ“Œ Key Takeaways:

âœ… **Pandas is the go-to library** for data manipulation in Python  
âœ… **DataFrames are like spreadsheets** with powerful programmatic control  
âœ… **Always check for missing values** before analysis  
âœ… **Merge and group operations** enable complex data analysis  
âœ… **Apply and lambda functions** provide flexible transformations  
âœ… **File I/O makes data exchange** easy across different formats  

---

### ğŸš€ Next Steps:

- Practice with real-world datasets (Kaggle, UCI ML Repository)
- Learn advanced indexing (MultiIndex, hierarchical indexing)
- Explore time series functionality in Pandas
- Tomorrow: **Exploratory Data Analysis & Visualization!**

---

### ğŸ’ª Keep Practicing!

Pandas has many more features to explore. The best way to learn is by working with real datasets and solving actual problems!

**Excellent work completing Day 2! ğŸ‰**